.list {
  padding: 0;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  border: 3px solid #333;
  border-radius: 0;
  border-spacing: 0;
  box-shadow: 5px 5px 0px 0px rgba(51,51,51,1);
}

.list tr:nth-child(odd) {
  background-color: #eee;
}

.list tr:nth-child(even) {
  background-color: #fff;
}

.list th {
  color: #f9fafb;
  font-weight: 700;
  font-size: 1em;
  background-color: #777;
}

.list td {
  font-weight: 400;
  font-size: .9em;
}

.list td button {
  position: relative;
  top: -5px;
  left: -5px;
}

.list td button:active,
.list td button.active,
.list td button.active:hover {
  top: 0;
  left: 0;
}

.list th,
.list td {
  padding: 10px;
  border-left: 3px solid #333;
}

.list th:first-child,
.list td:first-child {
  width: 20%;
  border-left: 0;
}

.list th:nth-child(2),
.list td:nth-child(2) {
  width: 45%;
}

.list th:nth-child(3),
.list td:nth-child(3) {
  width: 10%;
}

.list th:nth-child(4),
.list td:nth-child(4) {
  width: 20%;
}

.list th:nth-child(5),
.list td:nth-child(5) {
  width: 5%;
}