.gitsearch {
  display: table;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  text-align: center;
}

.gitsearch-form-group {
  margin: 40px 0;
}

.gitsearch label {
  color: #333;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.gitsearch input {
  outline: 0;
  width: 1em;
  max-width: 768px;
  color: #333;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1.5em;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed #333;
}